<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .focus-highlight {
            position: absolute;
            -webkit-transition: left 100ms ease-out, top 100ms ease-out, width 100ms ease-out, height 100ms ease-out;
            transition: left 100ms ease-out, top 100ms ease-out, width 100ms ease-out, height 100ms ease-out;
            outline: 2px solid #FF0000;
            border: 2px solid #fff;
            pointer-events: none;
            margin-left: -2px;
            margin-top: -2px;
            z-index: 1000;
        }
    </style>
</head>
<body ng-controller="AppCtrl as app">
Isolated Group 1
<div focus-group="auto" focus-loop="true">
    <a href="">My Only link</a>

    <div focus-group="auto">
        <div focus-group="auto">
            <a href="" tabindex="1">Link</a>
            <a href="" tabindex="2" focus-keyboard="command+k">Link</a>
            <a href="" tabindex="3" disabled="disabled">Link (Disabled)</a>
            <a href="" tabindex="3">Link</a>

            <div style="display: none">
                <a href="" tabindex="3">Link</a>
                <a href="" tabindex="3">Link</a>
            </div>

            <a href="" tabindex="3">Link A</a>
            <a href="" tabindex="3" focus-keyboard="g i">Link B</a>
            <a href="" tabindex="4">Link C</a>
        </div>

        <div focus-group="auto">
            <div focus-group="auto">
                <a href="" tabindex="1" ng-click="app.callAction()">Action Link</a>
                <div tabindex="0" ng-click="app.callAction()">DIV Link</div>
                <a href="" tabindex="2">Link</a>
                <a href="" tabindex="3" disabled="disabled">Link (Disabled)</a>
                <a href="" tabindex="3">Link</a>

                <div style="display: none">
                    <a href="" tabindex="3">Link</a>
                    <a href="" tabindex="3">Link</a>
                </div>
                <select>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <a href="" tabindex="3">Link A</a>
                <a href="" tabindex="3">Link B</a>
                <a href="" tabindex="4">Link C2</a>
            </div>
        </div>
    </div>

    <div focus-group="auto">
        <div focus-group="auto">
            <a href="" tabindex="1" focus-element="autofocus">Link1</a>
            <a href="" tabindex="2">Link</a>
            <a href="" tabindex="3" disabled="disabled">Link (Disabled)</a>
            <a href="" tabindex="3">Link</a>

            <div style="display: none">
                <a href="" tabindex="3">Link</a>
                <a href="" tabindex="3">Link</a>
            </div>

            <a href="" tabindex="3">Link A</a>
            <a href="" tabindex="3">Link B</a>
            <a href="" tabindex="4">Link C</a>
        </div>
    </div>

    <div focus-group="auto">
        <a href="" tabindex="3">Link</a>
    </div>

</div>


<div focus-group="auto" focus-loop="false">
    Isolated group 2
    <div focus-group="auto">
        <div focus-group="auto">
            <a href="" tabindex="2" focus-element="autofocus">Link</a>
            <a href="" tabindex="2">Link</a>
            <a href="" tabindex="1">Link</a>
        </div>
    </div>

    <div focus-group="auto">
        <a href="" tabindex="3">Link</a>
    </div>

</div>
<div focus-highlight=""></div>
<script src="../bower_components/angular/angular.js"></script>
<script src="../build/ux-angular-focusmanager.js"></script>
<script>
    angular.module('app', ['ux'])
            .controller('AppCtrl', function () {
                this.callAction = function () {
                    console.log('action called', Date.now());
                }
            })
</script>
</body>
</html>